@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

:root{
  --background-header: #262324;
}

*, :after, :before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.2s linear;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.single{}
.single__content{ padding: 20px}
.single__card{   
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;   
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position:relative;
}

.single__card:focus-within {
  box-shadow: rgba(99, 99, 99, 0.4) 0px 4px 8px 0px;   
}


.single__card__top{ display: flex; padding: 3px}
.single__card__content{ padding: 30px 20px; }
.single__card__title{ font-size: 2.5em; margin:0}
.single__card__info{ font-size: 1.1em; line-height: 1.8}
.single__card__list{ font-size: 1.1em; line-height: 1.8; list-style:none; padding:0;}





header{
  background: #262324;
  color: #fff;
  padding: 50px 20px;
  margin-bottom: 20px;
}
header h1 {margin-bottom: 10px; font-size: 2.5em; font-weight: 900 }
header h2 {margin: 0; font-size: 1.2em; font-weight: 400;}

 

.filter{
  padding: 20px 20px;

}
.filter strong{}
.filter select {}

.Breweries{  
     padding: 20px 20px;
  }
.Breweries__list{
  list-style:none; 
  padding: 0; 
  margin:0; 
  width: 100%;
  display: grid; 
  grid-template-columns: 1fr; 
  column-gap: 1em;
  row-gap: 1em;
}


@media only screen and (min-width: 600px) {
  /* For tablets: */
  .Breweries__list{ 
    grid-template-columns: 1fr 1fr;  
  }
}

@media only screen and (min-width: 1020px) {
  /* For desktop: */
  .Breweries__list{ 
    grid-template-columns: 1fr 1fr 1fr 1fr;  
  }
}

.Breweries__listitem{   
  display: initial;
  margin:0;
 }



.goto_back{ padding: 0 20px}
.goto_back__link{ 
  text-decoration: none;
  display: flex;
  align-content: center;
  align-items: center;
  color: #262324;

}
.goto_back__text{
  padding-top: 0.25em;
}
.goto_back__link::before{  
  /* https://css-tricks.com/snippets/html/glyphs/ */
  content: '\2039';
  font-size: 1.9em;
  margin-right:0.3em;
}






/* Infelizmente não consegui colocar no index.module.css*/
/* http://web-accessibility.carnegiemuseums.org/design/color/ */
.tag_micro{background-color: #6C6C6C !important}
.tag_nano{background-color: #c50e29 !important; color:#fff !important; }
.tag_regional{background-color: rgb(49 115 220) !important; }
.tag_brewpub{ background-color: rgb(255 221 87) !important; color: rgb(76 65 25)!important; }
.tag_large{background-color: rgb(49 115 220) !important; ; color: #fff !important; }
.tag_planning{background-color: #6200ea !important; color: #fff !important; }
.tag_bar{background-color: #9eea35 !important; }
.tag_contract{background-color: rgb(54 54 54) !important; }
.tag_proprietor{background-color: #665f46 !important;  color: #fff !important; }
.tag_closed{background-color: #cd2026 !important; }