@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

:root{
  --background-header: #262324;
}

*, :after, :before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.2s linear;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.single{}
.single__content{ padding: 20px}



header{
  background: #262324;
  color: #fff;
  padding: 50px 20px;
  margin-bottom: 20px;
}
header h1 {margin-bottom: 10px; font-size: 2.5em; font-weight: 900 }
header h2 {margin: 0; font-size: 1.2em; font-weight: 400;}

 

.filter{
  padding: 20px 20px;

}
.filter strong{}
.filter select {}

.Breweries{  
     padding: 20px 20px;
  }
.Breweries__list{
  list-style:none; 
  padding: 0; 
  margin:0; 
  width: 100%;
  display: grid; 
  grid-template-columns: 1fr; 
  column-gap: 1em;
  row-gap: 1em;
}


@media only screen and (min-width: 600px) {
  /* For tablets: */
  .Breweries__list{ 
    grid-template-columns: 1fr 1fr;  
  }
}

@media only screen and (min-width: 1020px) {
  /* For desktop: */
  .Breweries__list{ 
    grid-template-columns: 1fr 1fr 1fr 1fr;  
  }
}

.Breweries__listitem{   
  display: initial;
  margin:0;
 }
.Brewery-card{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;   
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position:relative;
}

.Brewery-card:focus-within {
  box-shadow: rgba(99, 99, 99, 0.4) 0px 4px 8px 0px;   
}

.Brewery-card__top{
  display: flex;
   padding: 3px
  }
.Brewery-card__content{
  padding: 30px 20px; 
}
.Brewery-card__title{ font-size: 2.5em; margin:0}
.Brewery-card__info{ font-size: 1.1em; line-height: 1.8}

.Brewery-card__list{ 
  font-size: 1.1em; 
  line-height: 1.8; 
  list-style:none; 
  padding:0
}

.Brewery-card__stretched-link{
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  top: 0;
  left: 0;
  cursor: pointer;
   transition: all 0.2s linear;
}

.Brewery-card__stretched-link:hover{
  outline: -webkit-focus-ring-color auto 1px;
}


.Brewery-card__footer{
  border-top: 1px solid #5fceb461;
  padding: 10px 20px;
}
.Brewery-card__tag{
  background: #49a18c;
  border-radius: 5px;
  padding: 5px 10px;
  color: #fff;
  font-size: 0.8em;
  font-weight: 900;
}

/* http://web-accessibility.carnegiemuseums.org/design/color/ */
.Brewery-card__tag--micro{background: #6C6C6C}
.Brewery-card__tag--nano{background: #c50e29; color:#fff;}
.Brewery-card__tag--regional{background: rgb(49 115 220)}
.Brewery-card__tag--brewpub{ background: rgb(255 221 87); color: rgb(76 65 25)}
.Brewery-card__tag--large{background: rgb(49 115 220); color: #fff}
.Brewery-card__tag--planning{background: #6200ea; color: #fff;}
.Brewery-card__tag--bar{background: #9eea35;}
.Brewery-card__tag--contract{background: rgb(54 54 54)}
.Brewery-card__tag--proprietor{background: #665f46; color: #fff;}
.Brewery-card__tag--closed{background: #cd2026}



.pagination{ display: flex; justify-content: center;}
.pagination__list{ list-style: none; display: flex; padding: 0}
.pagination__item{}

.pagination__link{
    border: 1px solid #5FCEB4;
    padding: 8px 14px;
    display: flex;
    margin-right: 5px;
    border-radius: 5px;
    /* background: var(--background-header); */
    color: #262324;
    text-decoration: none;
    font-size: 1.2em;
}
.pagination__link:hover{
  opacity:0.9
}

.pagination__link.active{
  background: #262324;
  color: #fff;
}



.goto_back{ padding: 0 20px}
.goto_back__link{ 
  text-decoration: none;
  display: flex;
  align-content: center;
  align-items: center;
  color: #262324;

}
.goto_back__text{
  padding-top: 0.25em;
}
.goto_back__link::before{  
  /* https://css-tricks.com/snippets/html/glyphs/ */
  content: '\2039';
  font-size: 1.9em;
  margin-right:0.3em;
}


